<div class="container">
  <div class="text-white bg-info h3 text-center">
    <div>
      {{pupilAttempt.pupil.surname + ' ' + pupilAttempt.pupil.name}}
    </div>
    <div>Факультет: {{pupilAttempt.pupil.group.faculty}}</div>
    <div>Группа: {{pupilAttempt.pupil.group.groupNo}}</div>
  </div>
  <div class="row h2">
    <button class="btn btn-outline-success" (click)="update()">Обновить</button>
  </div>
  <div class="text-center h4">Текст задания</div>
  <app-text-editor [initialText]="pupilAttempt.attempt.task.taskText"
                   [disabled]="true"
  ></app-text-editor>
  <div class="text-center h4">Работа учащегося</div>
  <app-pupil-text-editor [pupilText]="getListWords()"
                         [allMistakes]="pupilAttempt.mistakes"
                         [mark]="pupilAttempt.mark"
                         (outMistakes)="setPupilMistakes($event)"
  ></app-pupil-text-editor>
  <div class="row">
    <div class="col">
      <a class="btn btn-outline-primary" routerLink="/pupils/{{pupilAttempt.pupil.id}}">Обратно к ученику</a>
    </div>
    <div class="col">
      <button class="btn btn-outline-primary" (click)="recheck()">Перепроверить</button>
    </div>
  </div>
</div>
