<div class="container pupil-text">
  <div class="card">
    <label class="card-body">
      <div class="card-text" id="pupil-text">
        {{setPupilText()}}
      </div>
    </label>
    <div class="card-footer">
      <div class="row">
        <div class="col">Количество ошибок:</div>
        <div class="col">{{getNumMistakes()}}</div>
      </div>
      <div class="row">
        <div class="col">Итоговая оценка:</div>
        <div class="col">{{getMark()}}</div>
      </div>
    </div>
  </div>
</div>
