<div class="container">
  <table class="table table-borderless table-striped">
    <thead class="bg-primary text-center text-white">
      <tr class="h3">
        <th>Краткое описание</th>
        <th>Ссылка</th>
        <th>Статус</th>
      </tr>
    </thead>
    <tbody class="text-center">
    <tr>
      <td>Список заданий, доступных для выполнения</td>
      <td><a class="btn btn-primary" routerLink="/tasks">Задания</a></td>
      <td class="bg-success text-white">Работает</td>
    </tr>
    <tr>
        <td>Добавить новое задание для выполнения</td>
        <td><a class="btn btn-primary" routerLink="/tasks-add">Добавить задание</a></td>
      <td class="bg-success text-white">Работает</td>
    </tr>
      <tr>
        <td>Список заданий заданных учащимися</td>
        <td><a class="btn btn-primary" routerLink="/attempts">Задания учащимся</a></td>
        <td class="bg-success text-white">Работает</td>
      </tr>
      <tr>
        <td>Работы учащихся. Пока без сортировок и прочих вещей</td>
        <td><a class="btn btn-primary" routerLink="/pupils-attempts">Работы учащихся</a></td>
        <td class="bg-success text-white">Работает</td>
      </tr>
      <tr>
        <td>Список групп</td>
        <td><a class="btn btn-primary" routerLink="/groups">Группы</a></td>
        <td class="bg-danger text-white">Не работает</td>
      </tr>
      <tr>
        <td>Добавление новой группы</td>
        <td><a class="btn btn-primary" routerLink="/groups-create">Создать группу</a></td>
        <td class="bg-danger text-white">Не работает</td>
      </tr>
      <tr>
        <td>Список всех учеников, но пока без сортировок и прочих приятностей</td>
        <td><a class="btn btn-primary" routerLink="/pupils">Список ученика</a></td>
        <td class="bg-success text-white">Работает</td>
      </tr>
      <tr>
        <td>Добавление нового учащегося</td>
        <td><a class="btn btn-primary" routerLink="/pupils-add">Добавить учеников</a></td>
        <td class="bg-success text-white">Работает</td>
      </tr>
      <tr>
        <td>Список правил, добавленных на сервер</td>
        <td><a class="btn btn-primary" routerLink="/rules">Правила</a></td>
        <td class="bg-danger text-white">Не работает</td>
      </tr>
      <tr>
        <td>Добавить новое правило на сервер</td>
        <td><a class="btn btn-primary" routerLink="/rules-add">Добавить правило</a></td>
        <td class="bg-danger text-white">Не работает</td>
      </tr>
      <tr>
        <td>Список предметов доступных для тестирования</td>
        <td><a class="btn btn-primary" routerLink="/subjects">Предметы</a></td>
        <td class="bg-danger text-white">Не работает</td>
      </tr>
      <tr>
        <td>Добавить новый предметов в список доступных</td>
        <td><a class="btn btn-primary" routerLink="/subjects-add">Добавить предметы</a></td>
        <td class="bg-danger text-white">Не работае</td>
      </tr>
    </tbody>
  </table>
</div>
