<form (ngSubmit)="onSubmit()">
  <div class="container-lg">
    <div class="container-lg align-content-center h2">
      Старт нового задания для учащихся
    </div>
    <!--Task selection-->
    <div class="container-lg bg-light">
    <div class="text-center h3 bg-primary text-white">Выберите задание</div>
    <div class="container input-group-lg">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputSubjectSelect">Предмет</label>
      </div>
      <select class="custom-select" id="inputSubjectSelect" name="inputSubject"
              [(ngModel)]="selectedTask.subject" (change)="selectSubject()">
        <option disabled>Не выбран</option>
        <option *ngFor="let subject of subjects" [ngValue]="subject">
          {{subject.name}}
        </option>
      </select>
      <label class="input-group-text" for="inputTaskTypeSelect">Тип задания</label>
      <select class="custom-select" id="inputTaskTypeSelect" name="inputTaskType"
              [disabled]="isSubjectSelected()" [(ngModel)]="selectedTask.type" (change)="selectTaskType()">
        <option disabled>Не выбран</option>
        <option *ngFor="let taskType of taskTypes" [ngValue]="taskType">
          <span class="bg-light">{{taskType.name}}</span>
        </option>
      </select>
      <label class="input-group-text" for="inputTaskSelect">Задание</label>
      <select class="custom-select" id="inputTaskSelect" name="inputTask"
              [disabled]="isTaskTypeSelected()" [(ngModel)]="attempt.task">
        <option disabled>Не выбрано</option>
        <option *ngFor="let task of tasks" [ngValue]="task">
          <span class="bg-light">{{task.name}}</span>
        </option>
      </select>
    </div>
    </div>
    <app-select-group (result)="selectGroup($event)"></app-select-group>
    <!--Time setting-->
    <div class="container input-group-lg">
    <label class="input-group-text" for="inputAttemptTime">Введите количество минут, отводимых на задание</label>
    <input class="form-control" type="number" id="inputAttemptTime" (change)="setAttemptTime($event.target.value)">
    </div>
    <!--Task start-->
    <div class="text-right">
    <button type="submit" class="btn btn-outline-success" [disabled]="!isPossibleToStart()">
      Активировать задание
    </button>
    </div>
  </div>
</form>
