<div class="container-lg">
  <div class="text-center h3">Список учеников</div>
  <div class="row h2">
    <button class="btn btn-outline-success" (click)="update()">Обновить</button>
  </div>
  <table class="table table-borderless table-striped">
    <thead class="bg-info text-white text-center">
      <th scope="col">Факультет</th>
      <th scope="col">Курс</th>
      <th scope="col">Группа</th>
      <th scope="col">ФИО</th>
      <th scope="col">Подробнее</th>
    </thead>
    <tbody class="bg-light">
      <ng-container *ngFor="let pupil of pupils">
        <tr>
          <td>{{pupil.group.faculty}}</td>
          <td>{{pupil.group.course}}</td>
          <td>{{pupil.group.groupNo}}</td>
          <td>
            <a routerLink="/pupils/{{pupil.id}}">
              {{pupil.surname + ' ' + pupil.name + ' ' + pupil.patronymic}}
            </a>
          </td>
          <td>
            <a class="btn btn-outline-primary" routerLink="/pupils/{{pupil.id}}">
            Подробнее
            </a>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
